.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.content img {
  width: 200px;
  height: 200px;
}
.content {
  border: 2px solid red;
  width: 200px;
}
.container-rating{
    display: flex;
    align-items: center;
}
.content .rating {
  width: 100px;
  height: 20px;

  
}
button{
    display: block;
    margin: 0 auto;
    cursor: pointer;
}